{% extends 'myauth/base.html' %}

{% block title %}
  Users list
{% endblock %}


{% block body %}
    <h1>Users</h1>
    {% if not user.is_authenticated %}
        <p>Info only users</p>
    {% else %}

    {% for user in Users %}

    <div>
       <a href="{% url 'myauth:user-details' pk=user.pk %}">Name: {{ user }}</a>
       {% if user.avatar.user %}
            <img src="{{ user.avatar.url }}" alt="{{ user.avatar.user }}">
       {% endif %}
        </div>
        {% endfor %}
    {% endif %}
  <a href="{% url 'myauth:about-me' %}">About me</a>
{% endblock %}

