{% extends 'shopapp/base.html' %}

{% load i18n %}
{% block title %}
 {% translate 'Product' %} #{{ product.pk }}
{% endblock %}

{% block body %}
<div>
    <div>
         {% blocktranslate count product_images=product.images.all|length %}
            There is only one image.
            {% plural %}
             There are {{ product_images }} img.
            {% endblocktranslate %}

        {% if product.preview %}
        <div><img src="{{product.preview.url }}" alt="{{ product.preview.name }}" width="250"></div>

        {% if product.images %}
            {% for img in product.images.all %}
              <img src=" {{ img.image.url }}" alt="{{ img.image.name }}" width="250">
              <div>{{ img.description }}</div>
        {% empty %}
            <div> {% translate 'There is only preview' %}</div>
             {%  endfor %}
        {% endif %}{% endif %}

   </div>
</div>
 </div>

    <h1>{% translate 'Product' %} <strong> {{ product.name }} </strong></h1>
    <div>{% translate 'Description:' %} <em>{{ product.description }} </em></div>
    <div>{% translate 'Price:' %} {{ product.price }} </div>
    <div>{% translate 'Discount:' %} {{ product.discount }} </div>
    {% for product in products %}
</div>

{% endfor %}

<div>
 <a href="{% url 'shopapp:product_update' pk=product.pk %}">{% translate 'Update product' %}</a>
</div>

<div>
 <a href="{% url 'shopapp:product_delete' pk=product.pk %}">{% translate 'Archive product' %}</a>
</div>

<div>
 <a href="{% url 'shopapp:products_list' %}">{% translate 'Back to products list' %}</a>
</div>

{% endblock %}